@font-face {
  font-family: 'RobotoMono';
  src: url(./fonts/static/RobotoMono-Thin.ttf);
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(17, 67, 87), rgb(242, 148, 146))
}